html, body {
  height: 100%;
  margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.section {
    min-height: 80vh;
    border: 1px solid black;
}

.section1 {
    background-color: white;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 80%;
}

.logo img {
    height: 100px;
    width: auto;
}

.life-at-uic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: black;
    font-size: 18px;
}
.footer {
    height: 150px;
    background-color: aqua;
    border: 1px solid black;
}