html, body {
  height: 100%;
  margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.section {
    min-height: 80vh;
    border: 1px solid black;
}

.section1 {
    background-color: white;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 90%;
}

.logo img {
    height: 100px;
    width: auto;
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 13px;
    color: white;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: red;
    border-radius: 10px;
}

.footer {
    height: 150px;
    background-color: aqua;
    border: 1px solid black;
}